data
golf
Necessary Research Papers
Research Papers
YOLOv8
Zips
ball_traj.txt
bus.jpg
processed_golf_video.mp4
Test_videos.zip
pre.py
my_new_code.py
golftracer-backup.py
runs
PTs
Test_videos
output_with_tracking.mp4
runs
yaml_files
